.Board {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 40%;
  border: 1px solid gray;
  box-sizing: border-box;
}
.Board__Column {
  display: flex;
  width: 100%;
  height: 60px;
  justify-content: space-around;
  align-items: center;
}

.Board__Column:hover{
  background-color: white;
  cursor: pointer;
}

.Board__Column_Task {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  margin-top: 5px;
  padding: 14px 8px;
}


