.Home {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  width: 100%;
}

.Dashboard,.Conversation {
  border: 1px solid darkgray;
  width: 30%;
  margin-right: 30px;
  margin-bottom: 5px;
}
.Dashboard__Container {
  height: 600px;
  overflow: auto;
}
.Dashboard__Conversation {
  display: flex;
  height: 60px;
  justify-content: space-around;
  align-items: center;
}

.Dashboard__Conversation:hover {
  background-color: lightgray;
  cursor: pointer;
}
.Conversation__Container {
  height: 400px;
  overflow: auto;
}
.Conversation__Incoming,
.Conversation__Outgoing {
  font-size: 16px;
  padding: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 15px;
}

.Conversation__Incoming {
  background-color: white;
  text-align: end;
  margin-left: 80px;
  margin-right: 10px;
}

.Conversation__Outgoing {
  background-color: lightblue;
  margin-right: 80px;
  margin-left: 10px;
}

.Coversation__Namebar {
  display: flex;
  justify-content: space-between;
  padding: 0px 7px;
  color: white;
  line-height: 30px;
  height: 30px;
  background-color: blue;
}

div.DraftEditor-root {
  border-top: 1px solid darkgray;
  width: 100%;
  height: 50px;
  padding: 5px;
  font-size: 16px;
  box-sizing: border-box;
  overflow-y: scroll;
}

